.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9a826;
  margin: 25px 100px 0px 100px;

  &__heading {
    font-size: 40px;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  &__education {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__education-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 50px;
    color: white;
  }

  &__experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__experiences-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 50px;
    color: white;
  }
}

@media (max-width: 900px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__wrapper {
    gap: 20px;
  }

  .about__education-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .about__experiences-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-top: 1px solid #f9a826;
    padding-top: 20px;
  }
}

@media (max-width: 450px) {
  #about {
    h2 {
      font-size: 2rem;
    }
  }
}
