.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9a826;
  margin: 25px 100px 0px 100px;

  &__heading {
    font-size: 40px;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  &__experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__experiences-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 50px;
    color: white;
  }
  &__education {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__education-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 50px;
    color: white;
  }
}

.box-background {
  display: flow-root;
  position: relative;
  padding: 20px;
  min-width: 350px;
}

.box-background::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 2px solid transparent;
  background: linear-gradient(140deg, #e74c3c, #f39c12) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

@media (max-width: 900px) {
  .about {
    margin: 25px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__wrapper {
    gap: 20px;
  }

  .about__education-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .about__experiences-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-top: 1px solid #f9a826;
    padding-top: 20px;
  }
}

@media (max-width: 450px) {
  .about {
    margin: 25px 20px 0px 20px;
    h2 {
      font-size: 2rem;
    }
  }
}
