.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  margin: 0px 100px 0px 100px;
  //background-color: aqua;

  &__heading {
    font-size: 40px;
    color: #f9a826;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
  }

  p {
    color: white;
    font-size: 25px;
  }
  a {
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
  .email__button {
    border: 2px solid #f9a826;
    border-radius: 12px;
    padding: 10px;
  }

  .email__button:hover {
    border: 2px solid white;
    color: #f9a826;
  }
}

#screen {
  animation-name: screen;
  animation-duration: 2s;
  animation-delay: 1s;
  fill: rgb(255, 255, 255);
  animation-iteration-count: infinite;
}

@keyframes screen {
  0% {
    fill: rgb(175, 175, 175);
  }
  25% {
    fill: rgb(186, 186, 186);
  }
  50% {
    fill: rgb(213, 213, 213);
  }
  75% {
    fill: rgb(230, 230, 230);
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}

#leaf1 {
  animation-name: leaf;
  animation-duration: 2s;
  animation-delay: 1s;
  fill: #f9a826;
  animation-iteration-count: infinite;
}

#leaf2 {
  animation-name: leaf;
  animation-duration: 2s;
  animation-delay: 1s;
  fill: #f9a826;
  animation-iteration-count: infinite;
}

@keyframes leaf {
  0% {
    fill: #ffffff;
  }
  25% {
    fill: #ffdba1;
  }
  50% {
    fill: #facb7e;
  }
  75% {
    fill: #ffb339;
  }
  100% {
    fill: #f9a826;
  }
}

#color {
  animation-name: color;
  animation-duration: 1s;
  animation-delay: 1s;
  fill: #f9a826;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    fill: #000000;
  }
  100% {
    fill: #f9a826;
  }
}

@media (max-width: 900px) {
  #size {
    width: 375px;
    height: 310px;
  }
}

@media (max-width: 450px) {
  .contact {
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
    a {
      font-size: 1rem;
    }
  }
}
