.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 30px 100px 50px 100px;

  &__arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    align-content: center;
    .fa-circle-arrow-up {
      color: #f9a826;
    }
    p {
      font-size: 15px;
      color: white;
    }
  }

  &__copyright {
    color: white;
  }
  &__social-media {
    display: flex;
    gap: 30px;
    font-size: 25px;
  }

  .fab {
    color: #f9a826;
  }
  .fab:hover {
    font-size: 30px;
    color: white;
  }
  &__github-link {
    color: white;
  }
}

@media (max-width: 450px) {
  .footer {
    margin: 25px 20px 0px 20px;
    p {
      font-size: 1rem;
    }
  }
}
