.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 100px 0px 100px;

  .hamburger {
    display: none;
  }

  .nav-bar {
    position: fixed;
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-around;

    ul {
      list-style: none;
      font-size: 20px;
    }
    li {
      display: inline-block;
    }
    li:nth-child(n - 2) {
      margin-right: 50px;
    }
    a {
      text-decoration: none !important;
      color: white;
    }
    a:hover {
      border-bottom: 2px solid #f9a826;
    }
  }
}

@media (max-width: 900px) {
  .header {
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hamburger {
      display: block;
      cursor: pointer;
      height: 30px;
      padding-top: 10px;
    }

    .line {
      width: 30px;
      height: 3px;
      background-color: #f9a826;
      margin: 6px 0;
    }

    ul {
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
    }

    .nav-bar {
      height: 0;
      overflow: hidden;
      padding: 0;
    }

    .active {
      height: 200px;
    }
  }
}
