.intro {
  display: flex;
  flex-direction: row;
  //background-color: #f9a826;
  margin: 90px 100px 50px 100px;
  gap: 70px;
  &__left-container {
    //background-color: aqua;
    color: #f9a826;
    align-self: center;

    p {
      padding-top: 25px;
      color: white;
      font-size: 25px;
    }
  }

  &__right-container {
    width: auto;
    height: auto;
    img {
      max-width: 450px;
      border: 3px solid #f9a826;
      border-radius: 50%;
      animation: borderAnimation 5s infinite;
    }
  }
}

@keyframes borderAnimation {
  0% {
    border-color: #f9a826;
  }
  50% {
    border-color: #f12711;
  }
  100% {
    border-color: #f9a826;
  }
}

.intro__para-firstname {
  color: #f9a826;
}

.intro__sub-heading {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 8s forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.intro__heading-blinking {
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1020px) {
  .intro {
    margin: 25px 25px 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    padding-top: 70px;
  }
  .intro__left-container {
    padding-top: 0px;
  }
}

@media (max-width: 750px) {
  .intro {
    padding-top: 20px;
  }
}

@media (max-width: 450px) {
  .intro {
    margin: 0px 20px 0px 20px;
    &__left-container {
      h2,
      p {
        font-size: 1.2rem;
      }
    }
    &__right-container {
      width: auto;
      height: auto;
      img {
        width: 270px;
        border-radius: 35% 95% / 50%;
      }
      img:hover {
        border: 1px solid #f9a826;
      }
    }
  }
}
