.intro {
  display: flex;
  flex-direction: row;
  //background-color: #f9a826;
  margin: 30px 100px 50px 100px;
  gap: 70px;
  &__left-container {
    //background-color: aqua;
    color: #f9a826;
    padding-top: 120px;

    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 25px;
    }

    p {
      padding-top: 25px;
      color: white;
      font-size: 25px;
    }
  }

  &__right-container {
    //background-color: aqua;
    width: auto;
    img {
      width: 480px;
      border-radius: 35% 95% / 50%;
    }

    img:hover {
      border: 1px solid #f9a826;
    }
  }
}

.intro__para-firstname {
  color: #f9a826;
}

.intro__sub-heading {
  overflow: hidden;
  border-right: 2px solid orange;
  white-space: nowrap;
  animation: typing 5s forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
}

.intro__heading-blinking {
  animation: blinking 1s infinite;
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
