.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9a826;
  font-size: 50px;
  margin: 25px 100px 0px 100px;

  &__heading {
    font-size: 40px;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1080px;
  }
  &__project {
    max-width: 500px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: object-fit 0.3s ease;
    }
    img:hover {
      object-fit: fill;
    }
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008cba;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
  }

  &__project:hover {
    &__overlay {
      height: 100%;
    }
  }

  &__overlay-text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  &__icons {
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-size: 50px;
    color: white;
    min-height: 50px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.745);
    cursor: pointer;
    a {
      color: white;
    }
  }
  .fab:hover {
    text-shadow: 2px 2px 2px #f9a826;
  }
}

@media (max-width: 750px) {
  .projects {
    margin: 25px 20px 0px 20px;
  }
  .projects__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}

@media (max-width: 450px) {
  .projects {
    margin: 25px 20px 0px 20px;
    h2 {
      font-size: 2rem;
    }
  }
  .projects__icons {
    gap: 0px;
  }
}
