@import "header";
@import "footer";
@import "intro";
@import "about";
@import "skills";
@import "contact";
@import "projects";

* {
  margin: 0px;
  font-family: "Trirong", serif;
  //font-family: "Afacad", sans-serif;
  // font-family: "Nanum Gothic Coding", monospace;
}

body {
  // background-color: #004646;
  // background: linear-gradient(#6e241c, #925e0a);
  // background: linear-gradient(#340030, #810076);
  background: linear-gradient(#47013e, #054d5f, #024127, #000000);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  border-bottom: 1px solid #000000;
  padding-top: 20px;
}

p {
  font-size: 1.2rem;
  color: white;
}
